body{
    background-image: url(./img/old-paper-texture-elegant-black-and-white-vintage-paper-background-with-copy-space-photo.jpg);
    background-repeat: no-repeat;
}
p{
    color: purple;
    
}
h1{

    color: black;
    background: white;
    max-width: 200px;
    margin-left: 500px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px, solid, black;

}
h2{
    color: black;
    background: white;
    max-width: 700px;
    margin-left: 250px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px, solid, black;



}
img 
{
width: 300px;
height: 400px;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ol 
{
    text-align: center;

}


    